body {
    background-color: #292929;
    color: #ff0078;
}

h1, h2{
    font-family: "Permanent Marker";
}

/* ****************************************
Home Page
**************************************** */






/* *****************************************
Bio Page
***************************************** */






/* *****************************************
Merchandise Page
***************************************** */
.merchPageTitle{
    text-align: center;
}






/* *****************************************
Newsletter Page
***************************************** */
#news-header {
    text-align: center;

}