body {
    background-color: #292929;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1, h2{
    font-family: "Permanent Marker", cursive;
    color: #ff0078;
}

/* ****************************************
Home Page
**************************************** */






/* *****************************************
Bio Page
***************************************** */
.wrapper {
    padding-top: 2em;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

.wrapper {
    width: 95%;
    margin: auto;
    justify-content: center;
}

#bioBandPic {
    max-width: 100%;
    height: auto;
}

#aboutText {
    max-width: 100%;

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

.wrapper {
    width: 90%;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

.wrapper {
    width: 100%;
    justify-content: space-around;
    align-content: center;
}


/* *****************************************
Merchandise Page
***************************************** */
.merchPageTitle{
    text-align: center;
}

#dropdownMenu2 {
    font-family: Roboto;
    color: #ff0078;
    border-color: #ff0078;
    background-color: #313131;
}
.dropdown-menu{
    border-color: #bd14db;
    background-color:  #ff0078;
}
button.dropdown-item{
    font-family: Roboto;
    color: #ffffff;  
    border-color: #bd14db;
}
.btn-secondary{
    border-color: #ff0078;
}




/* *****************************************
Newsletter Page
***************************************** */
