body {
    background-color: #292929;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h5{
    font-family: "Permanent Marker", cursive;
    color: #ff0078;
}

/* ****************************************
Home Page
**************************************** */
.navbar {
    background-color: #313131;
    
}
.nav-link {
    font-family: 'Permanent Marker', cursive;
    
}
.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}

.navbar-nav .nav-item .nav-link {
    color: #ff0078;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:white;
}

.navbar .navbar-brand {
    font-family: 'Permanent Marker', cursive;
    color: #ff0078;
}
.navbar .navbar-brand:hover {
    color: white;
}
footer {
    background-color: #ff0078;
    width: 100%;
}
.fa-instagram, .fa-youtube, .fa-twitter-square, .fa-facebook-square {
    font-size: 65px;
    color: #313131;
}

.icon-div{
    width: 50%;
}

.main-photo {
    width: 100%;
}
.location {
    font-family: 'Roboto', sans-serif;
    color: #ff0078;
}
.date {
    font-family: 'Roboto', sans-serif;
    color: #bd14db;
}
.tick-btn {
    background-color: #bd14db;
}
.album1, .album2 {
    width: 200px;
    height: 200px;
}
.fa-spotify {
    font-size: 65px;
    color: #84bd00;
}
#logo {
    height: 100px;
}
/**.overlay {position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
.overlay-content {
    overflow-y: scroll;
}
  
.space {
    background-color: #292929;
    width: 100%;
    height: 1001px;
}**/


/* *****************************************
Bio Page
***************************************** */
.wrapper {
    padding-top: 2em;
}

.card {
    background-color: #313131;
    box-shadow: 5px 5px 5px black;
    height: 350px;
    padding: 0;
    border-radius: 0px;
}
.card-body {
    padding: 0;
    
}
.card-body p, .card-body h5, .card-body a {
    margin-left: 10px;
}

.card img {
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.btn-secondary:hover {
    background-color: #ff0078;
}

#horizontalLineDiv {
    background-color: white;
    border: 1px solid white;
    margin-left: 2em;
    margin-right: 2em;
}

.timelineCardHead {
    font-family: "Permanent Marker", cursive;
    color: black;
    background-color: #ff0078;
    padding: 10px;
    margin-left: 0;
}

.timelineCardA, .timelineCardB {
    height: 150px;
}

.timelineCardA::after {
    content: ' ';
    position: absolute;
    border-width: 8px; 
    background-color: #ff0078;
    top: 150px;
    height: 50px;
    width: 2px;
    left: 50%;
}

.timelineCardB::before {
    content: ' ';
    position: absolute;
    border-width: 8px; 
    background-color: #ff0078;
    top: -48px;
    height: 50px;
    width: 2px;
    left: 50%;
}

#hiddenCard1 {
    visibility: hidden;
}

#secondRowLastCard {
    margin-right: 30px;
    margin-left: auto;
}

.first-row-star {
    position: absolute;
    top: 190px;
    left: 47%;
    z-index: 2;
}

.second-row-star {
    position: absolute;
    top: -55px;
    z-index: 2;
    left: 47%;
}

#albumContainer {
    width: 100%;
    height: auto;
    justify-content: center;
}
.albumCard {
    width: 500px;
    height: auto;
    margin: 10px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

    .wrapper {
        width: 95%;
        margin: auto;
        justify-content: center;
    }

    #bioBandPic {
        max-width: 100%;
        height: auto;
    }

    #aboutText {
        max-width: 100%;

    }

    #memberCardHolder {
        width: 100%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .wrapper {
        width: 90%;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .wrapper {
        width: 100%;
        justify-content: space-around;
        align-content: center;
    }
}


/* *****************************************
Merchandise Page
***************************************** */
.merchPageTitle{
    text-align: center;
}

#dropdownMenu2 {
    font-family: Roboto;
    color: #ff0078;
 

    border-color: #ff0078;
    background-color: #313131;
}
.dropdown-menu{
    border-color: #bd14db;
    background-color:  #ff0078;
}
button.dropdown-item{
    font-family: Roboto;
    color: #ffffff;  

    border-color: #bd14db;
}
.btn-secondary{
    border-color: #ff0078;
}




/* *****************************************
Newsletter Page
***************************************** */
#news-header {
    text-align: center;

}

form {
    display: flex;
    justify-content: center;
}

.form-control {
    width: 18em;
    margin-top: 4em;
    margin-right: 2em;
    font-family: 'Roboto', sans-serif;
}

#news-button-div {
    display: flex;
    justify-content: center;
    margin-top: 3em;

}

#news-submit-button {
    background-color: #ff0078;
    width: 14em;
    font-family: "Permanent Marker", cursive;
    border: silver 1px solid;

}

#news-card {
    width: 12em;
    
} 

#news-card-div {
    margin-top: 6em;
    justify-content: space-evenly;
}

#news-card-date {
    color: #BDBDBD;
    text-align: center;
    background-color: #7B1FA2;
    font-family: 'Permanent marker';
    margin: 0;
    text-decoration: underline;
    padding-top: .25em;

}

#news-card-title {
    color: #ff0078;
    text-align: center;
    background-color: #7B1FA2;
    font-family: 'Permanent marker';
    font-size: smaller;
    padding: .5em;
    

}

#news-card-info {
    color: #BDBDBD;
    font-family: Roboto;
    font-size: small;
    margin: 2em;
    padding: 1em;
}

#news-card-link {
    background-color: #343A40;
    border: none;
    color: #bd14db;
    text-decoration: underline;
    font-family: 'Permanent marker';
}

#cardBox {
    margin-bottom: 3em;
}



